<%- include('header.ejs') %>

<%- include('nav.ejs') %>
<section class="hero" style="padding: 4rem 2rem 3rem;">
  <h1><i class="fas fa-envelope"></i> Contact Us</h1>
</section>
<section class="section">
    <div class="container">

<form role="form" id="contactUs" action="/contact-us" method="post">
  <div class="form-group">
    <label for="contactType">Are you trying to get in touch with a committee member of a specific club?</label>
    <select class="form-control" name="contactType" id="contactType">
      <option disabled selected>Choose..</option>
      <option value="Clubs">Club Secretaries</option>
      <option value="League">League Representatives</option>
    </select>
  </div>
  <div class="form-group d-none" id="clubsDropDown">
    <label for="clubSelect">Which club are you contacting?</label>
    <select class="form-control" id="clubSelect" name="clubSelect">
      <option disabled selected>Choose a Club</option>
      <% clubs.forEach(function(row){ %>
        <option value="<%= row['id'] %>"><%= row['name'] %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group d-none" id="leagueDropDown">
    <label for="leagueSelect">Which committee member are you contacting</label>
    <select name="leagueSelect" id="leagueSelect" class="form-control">
      <option disabled selected>Choose...</option>
      <option value="secretary">League Secretary</option>
      <option value="results">Results Secretary</option>
      <option value="tournament">Tournament Secretary</option>
      <option value="lewis">Lewis Shield Secretary</option>
      <option value="handbook">Handbook Secretary</option>
      <option value="fixtures">Fixtures Secretary</option>
      <option value="chair">Chair</option>
      <option value="treasurer">Treasurer</option>
      <option value="website">Website Secretary</option>
    </select>
  </div>
  <div class="form-group">
    <label for="contactEmail">Email address</label>
    <input type="email" class="form-control" id="contactEmail" name="contactEmail" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="contactQuery">Message that you want to send to the club contact</label>
    <textarea class="form-control" id="contactQuery" name="contactQuery" rows="3"></textarea>
  </div>
  <div class="form-group">
    <div class="g-recaptcha" data-sitekey="<%= recaptcha %>"></div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</section>

<%- include('footer.ejs') %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#contactType').change(function(){
      switch ($('#contactType').val()) {
        case 'Clubs':
          $('#clubsDropDown').attr('class','form-group d-block');
          $('#leagueDropDown').attr('class','form-group d-none');
          break;
        case 'League':
          $('#leagueDropDown').attr('class','form-group d-block');
          $('#clubsDropDown').attr('class','form-group d-none');
          break;
        default:
      }
    })
    $('.click').click(function(){
      console.log($(this).attr('data-club'))
    })
  })
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

</body>
</html>
