<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<div class="col-12">
  <h1><%= query.error %></h1>
  <p><%= query.error_description %></p>
</div>


<%- include('footer.ejs') %>


</body>
</html>
