<%- include('header.ejs') %>
<%- include('nav.ejs') %>


<h2>Gallery</h2>
<div id="carouselExample" class="carousel slide w-auto">
      <div class="carousel-inner">
        <%  let active = " active";
            for (let [key,value] of Object.entries(entry)){ 
                if (key > 0){
                    active = ""
                }
                %>
            <div class="carousel-item<%= active %>">
                <img src="<%= value.source %>" class="d-block w-auto" alt="<%= value.caption %>">
              </div>
        <% } %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

<%- include('footer.ejs') %>



