<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<h1>Lewis Shield Draw</h1>

<div class="row col-12 bracket-container">
    <% 
    let fixCount=0
    let offset = 0
    let prelims = teams[1].prelims.split(",")
    preLimnumbers = prelims.map(row => parseInt(row))
    let bracketsOffset = preLimnumbers.length % 2
    // console.log(`Prelims: ${prelims}, ${prelims.length}`)
    for (let i=0; i < 4; i++) { %>
        <div class="col">      
<%
        for (let j=0; j < 16; j++){ 
            if (j % Math.pow(2,i) == 0){ 
                if (i == 0){
                    // console.log(preLimnumbers)
                    if (preLimnumbers.includes(j)){ 
                        fixCount++
                        %>
                        <div class="row align-middle d-flex align-items-center h-6 <%= fixCount % 2 == 1 ? '' : 'pt-5' %>">
                            <%
                                if (fixCount % 2 == 1){ %>
                                    <div class="bracket <%= fixCount % 2 == 0 ? 'even' : 'odd' %>-fix d-flex flex-fill">&nbsp;</div>
                                <% }
                            %>
                            <div class="row col-12 g-0 p-0 m-0 d-flex">
                        <% if (typeof teams[fixCount+offset] !== 'undefined'){ %>
                        <%= teams[fixCount+offset].homeTeam %><span class="px-1">vs</span></div><div class="row col-12 g-0 p-0 m-0 d-flex"><%= teams[fixCount+offset].awayTeam %> <strong class="px-1"><% if (teams[fixCount+offset].homeScore != null) { %><%= teams[fixCount+offset].homeScore + "-"+ teams[fixCount+offset].awayScore %><% } %></strong></div> <% } %>
                             <4
                                if (fixCount % 2 == 0){ %>
                                    <div class="bracket <%= fixCount % 2 == 0 ? 'even' : 'odd' %>-fix d-flex flex-fill">&nbsp;</div>
                                <% }
                            %>
                        </div>
                   <%  }
                    else { %>
                        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
                    <% }
                }
                else { 
                    fixCount++
                    %>
                    <div class="row align-middle d-flex align-items-center h-<%= i > 0 ? (i > 1 ? ( i > 2 ? (i > 3 ? 100 : 50) : 25 ) : 13 ) : 6 %>  <%= fixCount % 2 == 1 ? '' : 'pt-5' %>">
                        
                        <%
                                if (fixCount % 2 == 1){ %>
                                    <div class="bracket <%= fixCount % 2 == 0 ? 'even' : 'odd' %>-fix d-flex flex-fill">&nbsp;</div>
                                <% }
                            %>
                        <% if (typeof teams[fixCount+offset] !== 'undefined'){ %>

                            <div class="row col-12 g-0 p-0 m-0 d-flex <%= fixCount % 2 == 0 ? '' : 'pt-2' %>">
                        <%= teams[fixCount+offset].homeTeam  %><span class="px-1">vs</span></div><div class="row col-12 g-0 p-0 m-0 d-flex"><%= teams[fixCount+offset].awayTeam %> <strong class="px-1"><% if (teams[fixCount+offset].homeScore != null) { %><%= teams[fixCount+offset].homeScore + "-"+ teams[fixCount+offset].awayScore %><% } %></strong></div> <% } %>
                        <%
                                if (fixCount % 2 == 0){ %>
                                    <div class="bracket <%= fixCount % 2 == 0 ? 'even' : 'odd' %>-fix d-flex flex-fill">&nbsp;</div>
                                <% }
                            %>
                    </div>
                <% } 
                
            } 
            
         } %> 
        </div>
   <%  } %>
 
</div>

<%- include('footer.ejs') %>
<script>

    <%- JSON.stringify(teams) %>
</script>

</body>
</html>
