<%- include('header.ejs') %>
<%- include('nav.ejs') %>



    <h1>Player Stats</h1>

    <% if (typeof filter !== 'undefined' && filter == true){ %>
      <%- include('filters.ejs') %>
    <% } %>
    <div class="table-responsive">
    <table class="table" id="results-table">
      <thead>
        <tr>
          <th>Pairing</th>
          <th>Team</th>
          <th>Club</th>
          <th>Aces For</th>
          <th>Aces Against</th>
          <th>Games Played</th>
          <th>Games Won</th>
          <th>Games Won / Match (%)</th>
          <th>P + W - L</th>
          <th>Pts For / Game</th>
          <th>Pts Against / Game</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
    <% result.forEach(function(row){ %>


      <tr>

          <td><%= row['Pairing'] %></td>
          <td><%= row['teamName'] %></td>
          <td><%= row['clubName'] %></td>
          <td><%= row['forPoints'] %></td>
          <td><%= row['againstPoints'] %></td>
          <td><%= row['gamesPlayed'] %></td>
          <td><%= row['gamesWon'] %></td>
          <%
          var n = (row['gamesWon']/row['gamesPlayed']) * 100;
          if(Number.isNaN(n)){
            var n = 0;
          }
          else{
            if (!(Number.isInteger(n))){
              n = n.toFixed(1);
            }
          }
          %>
          <td><%= n %></td>
          <td><%= row['Points'] %></td>
          <%
          n = row['forPoints'] / row['gamesPlayed'];
          if(Number.isNaN(n)){
            var n = 0;
          }
          else{
            if (!(Number.isInteger(n))){
              n = n.toFixed(1);
            }
          }
          %>
          <td><%=  n %></td>
          <%
          n = row['againstPoints'] / row['gamesPlayed'];
          if(Number.isNaN(n)){
            var n = 0;
          }
          else{
            if (!(Number.isInteger(n))){
              n = n.toFixed(1);
            }
          }
          %>
          <td><%= n %></td>
          <td><%= row['pairRating'] %></td>
      </tr>
    <% }) %>
      </tbody>
    </table>
  </div>




<%- include('footer.ejs') %>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/fh-3.1.6/r-2.2.3/datatables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.19/sorting/date-euro.js"></script>

<script type="text/javascript">
  $(document).ready( function () {
    $('#results-table thead tr').clone(true).appendTo( '#results-table thead' );
    $('#results-table thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );
 
    var table = $('#results-table').DataTable( {
        orderCellsTop: true,
        fixedHeader: true
    } );
  } );
  <% if (typeof filter !== 'undefined' && filter == true){ %>
      <%- include('filtersJs.ejs') %>
    <% } %>
</script>

</body>
</html>
