<%- include('header.ejs') %>
<%- include('nav.ejs') %>



    <h1>Player Stats</h1>
    <% if (typeof filter !== 'undefined' && filter == true){ %>
      <%- include('filters.ejs') %>
    <% } %>
    
    <div class="table-responsive">
    <table class="table" id="results-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Team</th>
          <th>Club</th>
          <th>Aces For</th>
          <th>Aces Against</th>
          <th>P + W - L</th>
          <th>Games Played</th>
          <th>Games Won</th>
          <th>Games Won / Match</th>
          <th>Pts For / Game</th>
          <th>Pts Against / Game</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
    <% result.forEach(function(row){ %>


      <tr>

          <td><a href="/playerStats/<%= row['playerId'] %>/<%= row['playername'] %>"><%= row['playername'] %></a></td>
          <td><%= row['playergender'] %></td>
          <td><%= row['teamName'] %></td>
          <td><%= row['clubName'] %></td>
          <td><%= row['forPoints'] %></td>
          <td><%= row['againstPoints'] %></td>
          <td><%= row['Points'] %></td>
          <td><%= row['gamesPlayed'] %></td>
          <td><%= row['gamesWon'] %></td>
          <%
          var multiplier = 6
          if (typeof query.gameType !== "undefined"){
            if ((query.gameType == "Mixed" && row.playergender == 'Male')||(query.gameType == "Ladies" && row.playergender == 'Female')){
              multiplier = 2
            }
            else if ((query.gameType == "Mixed" && row.playergender == 'Female')||(query.gameType == "Mens" && row.playergender == 'Male')){
              multiplier = 4
            }
            else {
              multiplier = 4
            }
          }
          var n = row['gamesWon']/(row['gamesPlayed'] / multiplier);
          if(Number.isNaN(n)){
            var n = 0;
          }
          else{
            if (!(Number.isInteger(n))){
              n = n.toFixed(1);
            }
          }
          %>
          <td><%= n %></td>
          <%
          n = row['forPoints'] / row['gamesPlayed'];
          if(Number.isNaN(n)){
            var n = 0;
          }
          else{
            if (!(Number.isInteger(n))){
              n = n.toFixed(1);
            }
          }
          %>
          <td><%=  n %></td>
          <%
          n = row['againstPoints'] / row['gamesPlayed'];
          if(Number.isNaN(n)){
            var n = 0;
          }
          else{
            if (!(Number.isInteger(n))){
              n = n.toFixed(1);
            }
          }
          %>
          <td><%= n %></td>
          <td><%= row['rating'] %></td>
      </tr>
    <% }) %>
      </tbody>
    </table>
  </div>




<%- include('footer.ejs') %>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/fh-3.1.6/r-2.2.3/datatables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.19/sorting/date-euro.js"></script>

<script type="text/javascript">
  $(document).ready( function () {
    
 
    var table = $('#results-table').DataTable( {
        orderCellsTop: true,
        fixedHeader: true
    } );
    if (window.location.pathname.indexOf('/player-stats') > -1 ){
        document.querySelectorAll('#columnToggle > option').forEach((el) => {
            el.addEventListener('click', function (e) {
                e.preventDefault();
        
                let columnIdx = e.target.getAttribute('value');
                let column = table.column(columnIdx);
        
                // Toggle the visibility
                column.visible(!column.visible());
                table.columns.adjust().draw();
            });
        });
    }

  } );
  <% if (typeof filter !== 'undefined' && filter == true){ %>
      <%- include('filtersJs.ejs') %>
    <% } %>
  


</script>

</body>
</html>
